.table-viewer {
    width: 100%;
    height: auto;
    border-spacing: 0;
}

table td,
th {
    white-space: nowrap;
}

table th {
    border-top: 1px solid #1e78da;
    border-bottom: 1px solid #1e78da;
    /* border-right: 1px solid #B9E2B1; */
}

table td {
    border-bottom: 1px solid #1e78da;
    /* border-right: 1px solid #B9E2B1; */
}

table th:first-child,
table td:first-child {
    border-left: 1px solid #1e78da;
}

table th:last-child,
table td:last-child {
    /* border-left: 1px solid #B9E2B1; */
}

.thead-viewer,
.tbody-viewer__tr {
    height: 40px;
}

.thead-viewer__th {
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.tbody-viewer__td {
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}

.td-number {
    text-align: right;
}

.td-datetime {
    text-align: center;
}

table th:last-child,
table td:last-child {
    border-right: 1px solid #1e78da;
}

.table-viewer .thead-viewer__th:first-child,
.table-viewer .tbody-viewer__td:first-child {
    padding-left: 16px;
    padding-right: 8px;
    width: 22px;
}

.table-viewer .thead-viewer__th:nth-child(2),
.table-viewer .tbody-viewer__td:nth-child(2) {
    padding-left: 8px;
    padding-right: 16px;
}

.table-viewer .thead-viewer__th:last-child,
.table-viewer .tbody-viewer__td:last-child {
    border-right: 1px solid #1e78da;
    width: 80px;
}

.column-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.column-checkbox:hover::before {
    background-color: #dce8f5;
}

.column-checkbox::before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #1e78da;
    background-color: white;
    border-radius: 3px;
}

.column-checkbox__input {
    display: none;
}

.column-checkbox__icon {
    width: 16px;
    height: 16px;
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -1224px -360px;
    position: absolute;
    left: 3px;
    display: none;
}

/* .column-checkbox .column-checkbox__input:checked~.column-checkbox__icon {
    display: block;
} */

.table-viewer tbody tr:hover td {
    background-color: #dee4eb;
}

.column-item {
    text-align: left;
    font-weight: bold;
    padding: 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #1e78da;
    cursor: pointer;
    position: relative;
    font-family: Roboto;
    z-index: 999;
}

.column-func {
    width: 80px;
    position: relative;
}

.btn-function {
    width: 16px;
    height: 16px;
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -887px -350px;
    position: absolute;
    /* filter: invert(45%) sepia(99%) saturate(339%) hue-rotate(64deg) brightness(87%) contrast(89%); */
}

.btn-edit {
    /* margin-left: 16px; */
    margin-right: 8px;
}

.item-active {
    border-color: #b4b1e2;
}

.paging-right_combobox,
.paging-right_next,
.paging-right_pre {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paging-right_pre{
    background-color: transparent;
}

.paging-right_combobox {
    position: relative;
}

.btn-combobox {
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -1129px -361px;
    background-color: transparent;
    cursor: pointer;
}

.btn-combobox:hover,
.btn-pre:hover,
.btn-next:hover {
    filter: invert(57%) sepia(63%) saturate(451%) hue-rotate(64deg) brightness(93%) contrast(99%);
}

.btn-combobox:active,
.btn-pre:active,
.btn-next:active {
    border-color: #b6b1e2;
    filter: invert(45%) sepia(99%) saturate(339%) hue-rotate(64deg) brightness(87%) contrast(89%);
}

.btn-pre {
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -1082px -361px;
    background-color: transparent;
    cursor: pointer;
    transform: rotate(180deg);
}

.btn-next {
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -1081px -361px;
    background-color: transparent;
    cursor: pointer;
}

.paging-right_count,
.paging-right_pre,
.paging-right_next {
    margin-left: 16px;
}

.list-record {
    background-color: #FFF;
    width: 76px;
    position: absolute;
    border-radius: 4px;
    border: 1px solid #d8daf1;
    bottom: 25px;
    right: 0px;
}

.list-record__item {
    display: flex;
    align-items: center;
    padding: 2px 12px 2px 12px;
    justify-content: space-between;
    cursor: pointer;
    height: 28px;
}

.list-record__item:hover {
    background-color: #eeecf8;
}

.record__icon {
    width: 24px;
    height: 24px;
}

.record__icon {
    background-image: url(/src/assets//img/active.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

.table-viewer tbody td:nth-child(5) {
    width: 56px;
}

.table-viewer thead th:nth-child(5) {
    text-align: center;
    width: 56px;
}

.table-viewer tbody td:nth-child(10) {
    width: 56px;
}

.table-viewer thead th:nth-child(10) {
    text-align: center;
    width: 56px;
}